// Colors

$bg-color: #202020;
$color-primary: #1a292d;
$color-white: #ffffff;
$bg-color-white: #ffffff;
$bg-color-gradient: linear-gradient(to left bottom, #403d39, #6b6863, #9a9790, #ccc8c0, #fffcf2);

